@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: poppins,sans-serif;
	box-sizing: border-box;
}
body{
		font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    position: relative; 
    background-image: url('reg&log/wp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
	width:70%;
	height:630px;
	background:black;
	margin:40px auto;
	border-radius:5px;
	box-shadow: 0 0 50px rgba(139, 0, 0, 1);
	padding:25px 50px;
	display:flex;
	align-items:center;
	justify-content:center;
	gap:50px;
}
.container form{
	width:100%;
	height:100%;
}
.container .background{
	width:80%;
	height:200%;
	
	
}
.container .background{
	background:url('reg&log/regpic.png');
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	
}	
.container form h2{
	position:relative;
	color:white;
	
}
.container form .form-field{
	margin:30px 0;
	width:80%;
	display:flex;
	align-items:center;
	justify-content:center;
	gap:10px;
	border-bottom:3px solid red;
	background:black;
}
form .form-field i{
	font-size:20px;
	width:5%;
	text-align:center;
	color:white;
}
form .form-field input[type='password'],
form .form-field input[type='email'],
form .form-field input[type='number'],
form .form-field input[type='text']
{
	width:95%;
	padding:8px;
	outline:none;
	border:none;
	background:black;
	color:white;
}
form .button-field{
	margin-top:50px;
	
}
form .button-field input{
	width:45%;
	padding:10px;
	outline:none;
	border:none;
	cursor:pointer;
	border-radius:5px;
}
form .button-field input[type="submit"]{
	background-color:black;
	color:white;
	transition: all ease-in 0.2s;
	border:2px solid white;
}
form .button-field input[type='submit']:hover{
	box-shadow: 0 0 50px red;
}
.container form p{
    margin-top: 5px;
    font-weight: 510;
    color:white;
}